* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#nav {
    height: 15vh;
    width: 100%;
    color: white;
    background-color: #212121;
    /* border: 1px solid black; */
}

#align-nav {
    height: 15vh;
    width: 80%;
    margin: auto;
    /* border: 1px solid black; */
    display: flex;
    background: transparent;
    justify-content: space-between;
}

#logo {
    height: 15vh;
    width: 15%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background: transparent;
}

#child-logo {
    height: 6vh;
    width: 40%;
    margin-left: 10%;
    background: transparent;
    /* border: 1px solid black; */
}

#child-logo>img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    background: transparent;
}

#rightSide {
    height: 15vh;
    width: 80%;
    background: transparent;
    /* border: 1px solid black; */
}

#upper-rightSide {
    height: 7vh;
    width: 100%;
    background-color: #000000;
    /* border: 1px solid black; */
    display: flex;
    background: transparent;
    align-items: center;
}

.upper-nav-list-addition-width {
    height: 100%;
    width: 45%;
    font-size: 0.8em;
    font-weight: 600;
    background: transparent;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
}

.upper-nav-list-addition-width>a {
    background: transparent;
}

.addition-width>a {
    margin-left: 2%;
    background: transparent;
}

.upper-nav-list {
    height: 100%;
    width: 5%;
    font-size: 0.8em;
    font-weight: 600;
    flex-grow: 2;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background: transparent;

}

#upper-rightSide>div:last-child {
    white-space: nowrap;
}

#below-rightSide {
    height: 8vh;
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    background: transparent;
}

.lower-nav-list {
    height: 100%;
    width: 10%;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    background: transparent;

}

.lower-nav-list>p {
    margin-left: 2%;
    background: transparent;
}

.lower-nav-list>p>i {
    background: transparent;
}

.lower-nav-list-addition-width {
    height: 100%;
    width: 65%;
    /* border: 1px solid black; */
    display: flex;
    background: transparent;
    align-items: center;
}

#search {
    height: 6vh;
    width: 95%;
    margin: auto;
    /* border: 1px solid black; */
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background-color: #4a4a4a;

}

#search>i {
    position: absolute;
    font-size: 0.9em;
    margin-top: 15px;
    left: 4%;
    color: white;
    background: transparent;
}

#search>input {
    position: absolute;
    height: 100%;
    width: 90%;
    right: 0;
    border: none;
    outline: none;
    color: white;
    font-size: 0.8em;
    background-color: #4a4a4a;

}

#below-rightSide>div:last-child>div {
    height: 100%;
    width: 50%;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

#below-rightSide>div:last-child>div>i {
    background: transparent;
}