* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#profile-screen {
    /* height:100vh; */
    width: 100%;
    /* border: 1px solid #000; */
    padding: 10vh 0;
    background-color: #ececec;
}

#profile-screen-align {
    /* height:100vh; */
    margin: auto;
    width: 80%;
    /* border: 1px solid #000; */
    display: flex;
    justify-content: space-between;
}

#menu-side {
    /* height:100vh; */
    width: 20%;
    /* border: 1px solid #000; */
    padding-bottom: 5%;
    background-color:white;
}

#general-info {
    /* height:100vh; */
    width: 50%;
    /* border: 1px solid #000; */
    background-color:white;

}

#icon-email-id {
    height: 100vh;
    width: 22%;
    /* border: 1px solid #000; */
    position: relative;

}

#menu-side-title {
    height: 8vh;
    width: 85%;
    margin: auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
}

.menu-side-nav-list {
    height: 8vh;
    width: 85%;
    margin: auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    gap: 5%;
}

.menu-side-nav-list-logo {
    height: 50%;
    width: 20%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-side-nav-list-logo>img {
    height: 80%;
    width: 80%;
}

.menu-side-nav-list-label {
    height: 50%;
    width: fit-content;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 0.9em;
    font-weight: 400;
}

#menu-side>div:last-child>div:nth-child(2) {
    color: #ff496d;
}

#general-info-head {
    height: 8vh;
    width: 85%;
    margin: auto;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    font-weight: 500;
}

.general-info-details {
    width: 85%;
    margin: auto;
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 2%;
    overflow: hidden;
}

.general-info-headers {
    height: 5vh;
    width: 100%;
    /* border: 1px solid #000; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.general-info-headers>p:last-child {
    color: #ff496d;
}

.general-info-form {
    width: 100%;
    /* border: 1px solid #000; */

}

.general-info-form-fills {
    display: flex;
    align-items: center;
    width: 100%;
    /* border: 1px solid #000; */
    justify-content: space-around;
    margin: 2% 0;
}

.general-info-form-fills>span:nth-child(1) {
    height: 5vh;
    width: fit-content;
    /* border: 1px solid #000; */
    padding: 0 1%;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.general-info-form-fills>span:nth-child(2) {
    height: 5vh;
    width: 75%;
    border-radius: 5px;
    /* border: 1px solid black; */
    overflow: hidden;
    margin-left: auto;
    margin-right: 2%;
}

.general-info-form-fills>span:nth-child(2)>input {
    height: 100%;
    width: 100%;
}
#small-box{
    height: 20vh;
    width: 100%;
    /* border: 1px solid #000; */
    position:sticky;
    top:15vh;
    background-color:white;

}
#small-box-image-holder{
    height:8vh; 
    width: 24%;
    /* border: 1px solid #000; */
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    overflow: hidden;
}
#small-box-image-holder>img{
    height: 100%;
    width: 100%;
}
#small-text{
    text-align: center;
}